body {
    background-color: #FAF9F6;
    color: black;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
}

.poem-container2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    width:100% ;
    padding: 0 10%;
}

.left { 
    align-self: flex-start;
    margin-left: 5%;
    font-size: 20px;
}
.mid-left { 
    align-self: flex-start;
    margin-left: 20%;
    font-size: 22px;
}
.mid-right { 
    align-self: flex-start;
    margin-left: 40%;
    font-size: 24px;
}

.right { 
    align-self: flex-start;
    margin-left: 60%;
    font-size: 26px;
}

.clicklable {
    font-size: 32px; 
    color: green; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

a.clicklable:hover {
    color: gold;
    transform: scale(1.5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

.delay-1 {
    animation-delay: 1s;
}

.delay-2 {
    animation-delay: 2s;
}

.delay-3 {
    animation-delay: 3s;
}

.delay-4 {
    animation-delay: 3.5s;
}